<div style="background-color: silver;">
  <span> Zadania 1 - 4</span>
  <p
    *ngIf="displaySwitch"
    [ngClass]="[color ? 'color' : '', fontSize ? 'fontSize' : '']"
  >
    {{ myFirstName }} {{ myLastName }}
  </p>

  <button (click)="showMyName()">Show my name!</button>
  <button (click)="colorParagraph()">Color paragraph!</button>
  <button (click)="changeFontSize()">Change Font Size!</button>
</div>
<div>
  <span>Zadania 5 - 6</span>
  <ul>
    <li *ngFor="let link of links">
      <a
        (click)="oneElementClicked($event)"
        [ngClass]="link.selected ? 'bgColor' : ''"
        >{{ link.name }}</a
      >
    </li>
  </ul>
</div>
<div>
  <span> Zadania 7 - 8</span>
  <p>{{ number }}</p>
  <button (click)="onAddOneClicked()">Add One</button>
  <button (click)="onSubOneClicked()">Sub One</button>
  <button (click)="onAddTwoClicked()">Add Two</button>
  <button (click)="onSubTwoClicked()">Sub Two</button>
</div>

<div>
  <span>Zadanie 9-11</span>
  <div class="row">
    <img
      src="{{ pictures[picindex] }}"
      alt=""
      style="width:400px;height:400px;"
    />
  </div>

  <div class="row">
    <button [hidden]="picindex == pictures?.length - 1" (click)="nextpic()">
      Next
    </button>
    <button [hidden]="picindex == pictures?.length - 1" (click)="backpic()">
      Go Back
    </button>
    <div *ngIf="picindex == pictures?.length - 1; else elseBlock">
      Łostotni łobrozek
    </div>
  </div>
</div>
